html{
    scroll-behavior: smooth;
}
.header{
    background-color: rgb(206, 153, 55);
    
    font-size: 100%;
    font-family: serif;    
    color: white;
    display:flex;
    padding-left: 5%;
}
.headpage{
    padding-left: 40rem ;
    padding-top: 5%;
    padding-bottom: 2%;
   justify-content: row;
   display: flex;
  /* padding-top: 9rem;*/
}

a {
    text-decoration: none; /* Remove underline */
    color: white;
    padding: 10px 20px; /* Add padding to make it button-like */
    background-color: transparent; /* Default background */
    border: 2px solid rgba(141, 133, 133, 0.63); /* Border to outline button */
    border-radius: 25px; /* Make it look like a button */
    transition: all 0.3s ease; /* Smooth transition for hover */

}
a:hover{
    background-color: #645c5c3d;
    border-radius: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #6b881a;
}
.headpage a{
    font-size: 18px;
    display: flex;
    margin: 0 10px;
    text-decoration: none;
    color:rgb(253, 253, 253);
}
.header a:hover{
    color: #0E2636;
}
/*main page setting*/
div{
    background: #A26740;
    background: #0E2636;
}


.main{
    
   color:rgb(238, 212, 212);
    display: flex;
    flex-wrap: wrap;
    margin: 0.5% 5%;
    justify-content: space-between;
   
    
}

.bio{
    display: flex;
    flex-direction: row;  /* Align content and picture horizontally */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.mypic{
    
    flex: 0 0 270px;
    margin-right: 1rem;
  
}
.bio .contentbio{
    flex: 1;              
    min-width: 10%;     
    padding-right: 18%;
    text-align: justify;
   
}
.logo{
    width: 30px;
    height: auto;
    vertical-align: middle;
    align-content: space-between;
    line-height-step: 2px;
}
li{
    margin-bottom: 1%;
}
button.top{
   
  position: absolute;
  float: right;
  -ms-flex-align: baseline;
  margin-bottom:0;
 right:5%;
  bottom: 0;
  display: none;
}

